In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

#Create a Spark Application
spark = SparkSession.builder.appName("groupbyagg").getOrCreate()

In [2]:
#Load the athlete_events.csv from Local System
athlete_events = spark.read.csv('file:///home/hduser/demo_1/athlete_events.csv',sep=',',inferSchema=True,header=True)

In [3]:
#Create Temp View of these 2 tables
athlete_events.createOrReplaceTempView("athlete_events_view")

In [4]:
#Change your DB and table name as per your requirements...
MySQL_URL = "jdbc:mysql://localhost:3306/sqoop"
MySQL_driver = "com.mysql.jdbc.Driver"
MySQL_table = "athlete_events_MySQL"
user = "root"
password = "password"

In [5]:
#Write a spark DF into a MySQL table.
athlete_events.write.format('jdbc').options(url=MySQL_URL,driver=MySQL_driver,dbtable=MySQL_table,user=user,password=password).mode('overwrite').save()

In [6]:
#Read the data from MySQL table and store it in a spark DF.
Read_From_MySQL = spark.read.format("jdbc").option("url", MySQL_URL).option("driver", MySQL_driver).option("dbtable", MySQL_table).option("user", user).option("password", password).load()

In [7]:
Read_From_MySQL.show(2)

+------+--------------------+---+---+------+------+-----------+---+-----------+----+------+------+--------+--------------------+-----+
|    ID|                Name|Sex|Age|Height|Weight|       Team|NOC|      Games|Year|Season|  City|   Sport|               Event|Medal|
+------+--------------------+---+---+------+------+-----------+---+-----------+----+------+------+--------+--------------------+-----+
|112595|Glenn Andrew Mark...|  M| 25|   178|    83|New Zealand|NZL|2012 Summer|2012|Summer|London|Swimming|Swimming Men's 10...|   NA|
|112595|Glenn Andrew Mark...|  M| 25|   178|    83|New Zealand|NZL|2012 Summer|2012|Summer|London|Swimming|Swimming Men's 20...|   NA|
+------+--------------------+---+---+------+------+-----------+---+-----------+----+------+------+--------+--------------------+-----+
only showing top 2 rows